In [8]:
from selenium import webdriver

In [9]:
import boto3

In [10]:
from selenium.webdriver.chrome.options import Options

In [11]:
options = Options()
options.headless = True

In [12]:
from selenium.common.exceptions import NoSuchElementException, \
    WebDriverException

In [13]:
import pandas as pd
import time
import datetime

In [14]:
driver = webdriver.Chrome(options = options,executable_path=r'H:\UCD BA\Capstone\chromedriver.exe')

In [15]:
driver.get('https://www.daft.ie/price-register/?min_price=25000&max_price=5000000&pagenum=1')

In [16]:
i=0
addr = []
price = []

while True:
    try:
        driver.get('https://www.daft.ie/price-register/?min_price=25000&max_price=5000000&pagenum=%s' % str(i+1))
        driver.find_element_by_class_name('activePage').click()
        i+=1
        time.sleep(5)
        add = driver.find_elements_by_class_name("priceregister-address")
        for n in add:
            addr.append(n.text)
        #ddr= [n.text for n in add]
        pr =driver.find_elements_by_xpath('//*[contains(concat( " ", @class, " " ), concat( " ", "priceregister-dwelling-details", " " ))]')
        for m in pr:
            price.append(m.text)
        pages=driver.find_element_by_class_name('paging')
        
        if 'No Record Found' in pages.text:
                break
    except (NoSuchElementException, WebDriverException) as e:
        break

In [17]:
print('the total number of pages is ', i)

the total number of pages is  1895

In [18]:
df = pd.DataFrame(columns = ['Address','Price']) 
df['Address'] = addr
df['Price']= price
print(df)

                                                 Address  \
0      4 Carthages House, Carthages Avenue, Waterford...
1      3 Carthages House, Carthages Avenue, Waterford...
2                  1 Richmond, Templemore, Co. Tipperary
3             Dreenane, Derrinturn, Carbury, Co. Kildare
4      16 Larkfield Way, Ballyogan Road, Leopardstown...
...                                                  ...
47370           5 The Terrace, Scilly, Kinsale, Co. Cork
47371  53 Red Arches Avenue, Silverbanks, The Coast, ...
47372         57 Rockboro Heights, Carrigaline, Co. Cork
47373       Deerpark, Limerick Rd, Charleville, Co. Cork
47374  Summerville, Summerhill North, Caheragh, Carri...

                                                   Price
0      €77,000 | 12/10/18 | Second-Hand Dwelling Hous...
1      €91,000 | 12/10/18 | Second-Hand Dwelling Hous...
2      €130,000 | 12/10/18 | Second-Hand Dwelling Hou...
3      €80,000 ** | 12/10/18 | Second-Hand Dwelling H...
4      €615,000 | 12/10/18 | New Dwelling House/Apart...
...                                                  ...
47370  €250,000 ** | 27/10/17 | Second-Hand Dwelling ...
47371  €285,000 | 27/10/17 | New Dwelling House/Apart...
47372  €235,000 ** | 27/10/17 | Semi-Detached House |...
47373  €240,000 ** | 27/10/17 | Second-Hand Dwelling ...
47374  €630,000 | 27/10/17 | Second-Hand Dwelling Hou...

[47375 rows x 2 columns]

In [19]:
df[['Price','Date of Purchase','Type', 'No of Bedrooms','Number of Bathrooms']] = df.Price.str.split("|",expand=True,)

In [20]:
#print(df)

In [21]:
df[["Address","County"]] = df.Address.str.split("Co. ",n=1,expand = True,)

In [22]:
print(df)

                                                 Address         Price  \
0      4 Carthages House, Carthages Avenue, Waterford...      €77,000
1      3 Carthages House, Carthages Avenue, Waterford...      €91,000
2                               1 Richmond, Templemore,      €130,000
3                        Dreenane, Derrinturn, Carbury,    €80,000 **
4       16 Larkfield Way, Ballyogan Road, Leopardstown,      €615,000
...                                                  ...           ...
47370                   5 The Terrace, Scilly, Kinsale,   €250,000 **
47371   53 Red Arches Avenue, Silverbanks, The Coast, ,      €285,000
47372                 57 Rockboro Heights, Carrigaline,   €235,000 **
47373               Deerpark, Limerick Rd, Charleville,   €240,000 **
47374  Summerville, Summerhill North, Caheragh, Carrig,      €630,000

      Date of Purchase                                   Type No of Bedrooms  \
0            12/10/18    Second-Hand Dwelling House/Apartment           None
1            12/10/18    Second-Hand Dwelling House/Apartment           None
2            12/10/18    Second-Hand Dwelling House/Apartment           None
3            12/10/18    Second-Hand Dwelling House/Apartment           None
4            12/10/18            New Dwelling House/Apartment           None
...                ...                                    ...            ...
47370        27/10/17    Second-Hand Dwelling House/Apartment           None
47371        27/10/17            New Dwelling House/Apartment           None
47372        27/10/17                    Semi-Detached House     3 Bedrooms
47373        27/10/17    Second-Hand Dwelling House/Apartment           None
47374        27/10/17    Second-Hand Dwelling House/Apartment           None

      Number of Bathrooms     County
0                    None  Waterford
1                    None  Waterford
2                    None  Tipperary
3                    None    Kildare
4                    None     Dublin
...                   ...        ...
47370                None       Cork
47371                None     Dublin
47372          1 Bathroom       Cork
47373                None       Cork
47374                None       Cork

[47375 rows x 7 columns]

In [23]:
'''bad_chars = ['...', "**"] 
for i in bad_chars : 
    comments = comments.replace(i, '') 
print(comments)'''

'bad_chars = [\'...\', "**"] \nfor i in bad_chars : \n    comments = comments.replace(i, \'\') \nprint(comments)'

In [24]:
#comments.Price.apply(lambda x: x.replace('*','').)

In [25]:
df["Price"] = df["Price"].str.replace("*", "").str.strip()
#print(df)

In [26]:
df["Address"] = df["Address"].str.replace("(^(\s*?\,+)+\s?)|(^\s+)|(\s+$)|((\s*?\,+)+\s?$)", "")

In [27]:
print(df)

                                                 Address     Price  \
0      4 Carthages House, Carthages Avenue, Waterford...   €77,000
1      3 Carthages House, Carthages Avenue, Waterford...   €91,000
2                                 1 Richmond, Templemore  €130,000
3                          Dreenane, Derrinturn, Carbury   €80,000
4         16 Larkfield Way, Ballyogan Road, Leopardstown  €615,000
...                                                  ...       ...
47370                     5 The Terrace, Scilly, Kinsale  €250,000
47371       53 Red Arches Avenue, Silverbanks, The Coast  €285,000
47372                   57 Rockboro Heights, Carrigaline  €235,000
47373                 Deerpark, Limerick Rd, Charleville  €240,000
47374    Summerville, Summerhill North, Caheragh, Carrig  €630,000

      Date of Purchase                                   Type No of Bedrooms  \
0            12/10/18    Second-Hand Dwelling House/Apartment           None
1            12/10/18    Second-Hand Dwelling House/Apartment           None
2            12/10/18    Second-Hand Dwelling House/Apartment           None
3            12/10/18    Second-Hand Dwelling House/Apartment           None
4            12/10/18            New Dwelling House/Apartment           None
...                ...                                    ...            ...
47370        27/10/17    Second-Hand Dwelling House/Apartment           None
47371        27/10/17            New Dwelling House/Apartment           None
47372        27/10/17                    Semi-Detached House     3 Bedrooms
47373        27/10/17    Second-Hand Dwelling House/Apartment           None
47374        27/10/17    Second-Hand Dwelling House/Apartment           None

      Number of Bathrooms     County
0                    None  Waterford
1                    None  Waterford
2                    None  Tipperary
3                    None    Kildare
4                    None     Dublin
...                   ...        ...
47370                None       Cork
47371                None     Dublin
47372          1 Bathroom       Cork
47373                None       Cork
47374                None       Cork

[47375 rows x 7 columns]

In [28]:
df['Date of Purchase'] = pd.to_datetime(df['Date of Purchase'])
print(df)

                                                 Address     Price  \
0      4 Carthages House, Carthages Avenue, Waterford...   €77,000
1      3 Carthages House, Carthages Avenue, Waterford...   €91,000
2                                 1 Richmond, Templemore  €130,000
3                          Dreenane, Derrinturn, Carbury   €80,000
4         16 Larkfield Way, Ballyogan Road, Leopardstown  €615,000
...                                                  ...       ...
47370                     5 The Terrace, Scilly, Kinsale  €250,000
47371       53 Red Arches Avenue, Silverbanks, The Coast  €285,000
47372                   57 Rockboro Heights, Carrigaline  €235,000
47373                 Deerpark, Limerick Rd, Charleville  €240,000
47374    Summerville, Summerhill North, Caheragh, Carrig  €630,000

      Date of Purchase                                   Type No of Bedrooms  \
0           2018-12-10   Second-Hand Dwelling House/Apartment           None
1           2018-12-10   Second-Hand Dwelling House/Apartment           None
2           2018-12-10   Second-Hand Dwelling House/Apartment           None
3           2018-12-10   Second-Hand Dwelling House/Apartment           None
4           2018-12-10           New Dwelling House/Apartment           None
...                ...                                    ...            ...
47370       2017-10-27   Second-Hand Dwelling House/Apartment           None
47371       2017-10-27           New Dwelling House/Apartment           None
47372       2017-10-27                   Semi-Detached House     3 Bedrooms
47373       2017-10-27   Second-Hand Dwelling House/Apartment           None
47374       2017-10-27   Second-Hand Dwelling House/Apartment           None

      Number of Bathrooms     County
0                    None  Waterford
1                    None  Waterford
2                    None  Tipperary
3                    None    Kildare
4                    None     Dublin
...                   ...        ...
47370                None       Cork
47371                None     Dublin
47372          1 Bathroom       Cork
47373                None       Cork
47374                None       Cork

[47375 rows x 7 columns]

In [29]:
df.to_csv('output.csv')

SyntaxError: invalid syntax (<ipython-input-108-233a3dfe1397>, line 1)

In [ ]:
'''str = str.replaceAll(", $", "");
(^(\s*?\,+)+\s?)|(^\s+)|(\s+$)|((\s*?\,+)+\s?$)
ambassadorName.replace(/,(?=[^,]*$)/, ' and')'''